@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  @apply text-base text-black bg-beige-dark font-body;
}

/* Custom Tailwind */
.justify-self-center {
  justify-self: center;
}

.list-dp-icon {
  background: url("./assets/list_style_icon.svg") no-repeat left top;
}
